<div class="col-md-4">

<div class="card" data-id="<%= portfolio_items.id %>">
  <%= image_tag portfolio_img(portfolio_items.thumb_img, 'thumb'), width: '100%' %>
  <p class="card-text">
    <span><%= link_to portfolio_items.title, portfolio_show_path(portfolio_items) %></span>
          <%= portfolio_items.subtitle %>
  </p>
</div>

</div>