

<div class="album text-muted">
  <div class="container">

     <%= source_helper("alert alert-warning") %>

    <div class="row <%= "sortable" if logged_in?(:site_admin) %>" >
      <%= render partial: 'portfolio_items', collection: @portfolio_items %>
    </div>
  </div>
</div>

<%= javascript_include_tag "html.sortable", async: true %>