<div class="app-card-container">
  <div class="card">
    <h2> About Me </h2>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag "colton_600x300.jpg", width: 450, alt: "profile image", id: 'profile-image' %>
      </div>
      <div class="col-md-6">
       <p>Nulla eu bibendum orci. Cras sollicitudin vitae urna nec venenatis. Cras tincidunt rhoncus quam a egestas. Nam suscipit feugiat vestibulum. Nam a dignissim leo. Proin mollis neque quis massa gravida maximus. Aliquam erat volutpat. Fusce viverra porttitor eros. Quisque faucibus mi eu sem scelerisque finibus. Proin diam dolor, ultrices vulputate magna at, sagittis molestie nisl. Fusce risus odio, lacinia accumsan imperdiet ac, finibus eget lacus. Etiam eget finibus orci. Nam efficitur nisl et tincidunt porttitor. Donec quis sem dui. Cras lacinia eros quis tempus auctor.</p>
      <div class="row">
        <div class="col-sm-4 job-buttons">
          <button
            class="btn btn-basic"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controller="jobHistory">
            Job History
          </button>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              <div>
                JOBSSSSSSSS
              </div>
              <div>
                job 2
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 job-buttons">
          <button
            class="btn btn-basic"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controller="education">
            Education
          </button>
          <div class="collapse" id="education">
            <div class="card card-block">
              <div>
                UVU
              </div>
              <div>
                Bottega
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 job-buttons">
          <button
            class="btn btn-basic"
            type="button"
            data-toggle="collapse"
            data-target="#skills"
            aria-expanded="false"
            aria-controller="skills">
            Skills
          </button>
          <div class="collapse" id="skills">
            <div class="card card-block">
              <div>
                Ruby
              </div>
              <div>
                Rails
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>