<center><h2> About Me </h2></center>
<div class="row">
<div class="col-md-6">
<%= image_tag "colton_600x300.jpg", width: 450, alt: "profile image", id: 'profile-image' %>
</div>

<div class="col-md-6">
</div>
</div>

