<div class="contact-page">
<p id="contact-title">Contact Me</p>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6 contact-page-content">
<p class="contact-icon btn btn-quiet"><%= fa_icon "phone-square" %> Phone: 801-602-7706 </p>
<p><a href="mailto:mathews.colton@gmail.com?subject=Portfolio_Contact" class="btn btn-quiet contact-icon"><%= fa_icon "envelope-square" %> Email Me</a>
</p>
</div>
<div class="col-md-3">
</div>
</div>
</div>
