      <div class="inner cover">
        <p class="lead">We are all connected by code. Every tweet, comment, post, upload, or snap helps fuel our social economics, and it all relies entirely on amazing code, done by amazing developers with a passion for inovation and development.</p>

        <%= link_to 'Work With Me', contact_me_path, class: 'btn btn-outline-secondary' %>
      </div>


