




<div class="inner cover">
  <p class="lead">We are all connected by code. Every tweet, comment, post, upload, or snap helps fuel our social economics, and it all relies entirely on amazing code, done by amazing developers with a passion for inovation and development.</p>

  <%= link_to 'Work With Me', contact_me_path, class: 'btn quiet-btn' %>
</div>



<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
  <% @tweets_rubyonrails.each do |tweet| %>
    <div class="carousel-item card active">
      <%= twitter_parser tweet %>
    </div>
    <% end %>
    <% @tweets_coding.each do |tweet| %>
      <%= twitter_parser tweet %>
    <% end %>
    <% @tweets_webdev.each do |tweet| %>
      <%= twitter_parser tweet %>
    <% end %>
  </div>
</div>

