<div class="inner cover">
  <h1 class="cover-heading">Ruby on Rails from Twitter</h1>
    <div class="row">
    <h3>#Rails</h3>
      <% @tweets_rails.each do |tweet| %>
      <div class="col-md-6">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>
    <h3>#Ruby</h3>
      <% @tweets_ruby.each do |tweet| %>
      <div class="col-md-6">
        <div class="tech-news">
          <div class="card">
            <%= twitter_parser tweet %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>